//components
@use './variables' as *;

.wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1700px;
}
.section-heading {
    font-family: "Playfair Display", serif;
    text-align: left;
    font-weight: normal;
    font-size: 4rem;
    text-transform: uppercase;
    color: $main-color;
    letter-spacing: 2px;


    &--right {
        text-align: right;
    }
}
