//--390--//


@media (min-width: 390px) {

    .portfolio {

        &__video {
            width: 150px;
            height: 230px;

        }

        &__images {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            &--item {
                width: 150px;
                height: 200px;

            }

        }
    }

    .review{
            &__header {
                    font-size: 2.5rem;

            
                }
            
                &__text {
                   
                    font-size: 1.8rem;
                }
    }
}




//--430--//

@media (min-width: 430px) {
    .portfolio {

        &__video {
            width: 170px;
            height: 250px;
        }

        &__images {

            &--item {
                width: 170px;
                height: 250px;

            }

        }
    }





}