// @media (min-width: 1200px) {
//     /* Stylizacje dla większych laptopów i monitorów desktopowych */
// }

@media (min-width: 1100px) {

    .portfolio {

        &__video {
            width: 250px;
            height: 350px;
        }


        &__images {

            &--item {
                width: 250px;
                height: 350px;

            }

        }

    }

    .offers {
        &__title {
            top: 375px;
            right: 50px;
        }
    }
}

@media (min-width: 1200px) {
    .header {
        &__heading {
            font-size: 7rem;
        }

        &__text {
            font-size: 3rem;


        }

        &__arrow {
            font-size: 3rem;

        }

        &__btn {
            font-size: 2rem;

        }


    }

    .about {


        &__title {
            font-size: 5rem;
        }

        &__img {
            width: 400px;
            height: 600px;
            margin-bottom: 1em;

        }

        &__heading {
            font-size: 5rem;

        }

        &__text {
            font-size: 2rem;
        }
    }


    .hero {
        &__video {
            height: 650px;
        }



        &__text2 {

            width: 50px;
            height: 50px;

        }
    }

    .offers {

        &__item {
            font-size: 2.3rem;
        }

        &__title {
            top: 370px;
            right: 60px;
        }
    }

    .rules {


        &__header {

            font-size: 6.5rem;

        }

        &__title {

            font-size: 5.5rem;

        }

        &__item {

            font-size: 2.3rem;



        }
    }

    .acordeon {
        width: 800px;

        &-btn {
            font-size: 2.3rem;
            width: 800px;

        }
    }

    .portfolio {

        &__video {
            width: 250px;
            height: 350px;
        }


        &__images {

            &--item {
                width: 250px;
                height: 350px;

            }

        }


        &__title {
            right: -60px;
        }

    }

    .review {
        &__img {
            bottom: -350px;
            left: -150px;
        }
    }
}