// @media (min-width: 1200px) {
//     /* Stylizacje dla większych laptopów i monitorów desktopowych */
// }



@media (min-width: 1200px) {
        .header {
                &__heading {
                    font-size: 7rem;
                }
        
                &__text {
                    font-size: 3rem;
        
        
                }
        
                &__arrow {
                    font-size: 3rem;
        
                }
        
                &__btn {
                    font-size: 2rem;
        
                }
        
        
            }

    

}