// @media (min-width: 768px) {
//     /* Stylizacje dla tabletów */
// }
// @media (min-width: 992px) {
//     /* Stylizacje dla większych tabletów i małych laptopów */
// }

@use '../variables' as *;

@media (min-width: 768px) {
    .header {
        &__heading {
            font-size: 6rem;
        }

        &__text {
            font-size: 3rem;


        }

        &__arrow {
            font-size: 3rem;

        }


    }

    .hero {
        &__video {
            height: 450px;
        }
    }


}










//--900--//

@media (min-width: 900px) {
    .about {

        &__title {
            font-size: 5rem;
        }

        &__box {
            width: 55%;
        }

        &__info {
            flex-direction: row;
            justify-content: space-around;
        }

        &__img {
            width: 300px;
            height: 450px;
            margin-bottom: 0;
        }

        &__heading {
            font-size: 4rem;

        }
    }
}

@media (min-width : 992px) {

}



//--1024--//

@media (min-width: 1024px) {
        .hero {
                &__video {
                    height: 500px;
                }
        

        
                &__text2 {
        
                    width: 40px;
                    height: 40px;

            }
}
}