// @media (min-width: 768px) {
//     /* Stylizacje dla tabletów */
// }
// @media (min-width: 992px) {
//     /* Stylizacje dla większych tabletów i małych laptopów */
// }

@use '../variables' as *;

@media (min-width: 768px) {
    .header {
        &__heading {
            font-size: 6rem;
        }

        &__text {
            font-size: 3rem;


        }

        &__arrow {
            font-size: 3rem;

        }


    }

    .hero {
        &__video {
            height: 450px;
        }
    }

    .offers {
        &__item {
            padding: 1em 1em;
        }

        &__video {

            height: 100px;
            top: 385px;
            left: 10px;
        }
    }

}










//--900--//

@media (min-width: 900px) {
    .about {

        &__title {
            font-size: 5rem;
        }

        &__box {
            width: 55%;
        }

        &__info {
            flex-direction: row;
            justify-content: space-around;
        }

        &__img {
            width: 300px;
            height: 450px;
            margin-bottom: 0;
        }

        &__heading {
            font-size: 4rem;

        }
    }

    .offers {
        &__title {
            font-size: 5rem;
        }

        &__item {
            font-size: 2.2rem;
        }

        &__video {


            top: 430px;
            left: 60px;
        }

    }

    .rules {


        &__header {

            font-size: 6rem;

        }

        &__title {

            font-size: 5rem;

        }

        &__item {

            font-size: 2.2rem;



        }
    }

    .acordeon {
        &-box {
            margin-bottom: 1em;
        }

        &-btn {
            width: 750px;
            border: none;
        }
    }
}

@media (min-width : 992px) {}



//--1024--//

@media (min-width: 1024px) {
    .hero {
        &__video {
            height: 500px;
        }



        &__text2 {

            width: 40px;
            height: 40px;

        }
    }

    .offers {
        &__video {


            top: 430px;
            left: 150px;
        }
    }
}