 // @media (min-width: 480px) {
 //     /* Stylizacje dla telefonów o większych ekranach */
 // }
 // @media (min-width: 576px) {
 //     /* Stylizacje dla większych telefonów */
 // }

 @use '../variables' as *;


 @media (min-width: 480px) {

     .nav {
         &__item {
             &--mobile {
                 font-size: 2rem;
             }
         }

         &__link {
             font-size: 2rem;
         }
     }

     .header {
         &__heading {
             font-size: 4rem;
         }

         &__text {
             font-size: 2rem;


         }

         &__arrow {
             font-size: 2.5rem;
             left: 50%;
             transform: translate(-50%, -50%);


         }


     }

     .about {
         &__text {
             font-size: 2rem;
         }
     }

     .hero {
         height: 140vh;

         &__video {
             height: 450px;
         }
     }

     .offers {
         &__item {
             font-size: 2rem;
         }



     }

     .rules {


         &__header {

             font-size: 5rem;

         }

         &__title {

             font-size: 3.5rem;

         }
     }

     .acordeon {
         width: 400px;

         &-btn {
             width: 400px;
         }
     }

     .portfolio {
         &__video {
             width: 170px;
             height: 250px;
         }
     }

 }



 @media (min-width: 576px) {

     .header {
         &__heading {
             font-size: 4.5rem;
         }

         &__text {
             font-size: 2.5rem;


         }

         &__arrow {
             font-size: 2.5rem;
             left: 50%;
             transform: translate(-50%, -50%);


         }

         &__btn {
             font-size: 1.7rem;

         }


     }

     .about {
         &__title {
             font-size: 3.5rem;
         }

         &__img {
             width: 300px;
             height: 450px;
         }

         &__heading {
             font-size: 3.5rem;

         }

     }

     .hero {
         height: 100%;
         flex-direction: row;

         &__video {
             height: 350px;
         }


         &__text2 {
             position: absolute;
             right: 50%;
             top: 50%;
             transform: translate(50%, -50%);


         }


     }

     .offers {
         &__title {
             font-size: 3.5rem;
         }

     }

     .acordeon {
         width: 500px;

         &-btn {
             width: 500px;
         }
     }


     .portfolio {

         &__video {
             width: 200px;
             height: 280px;
         }

         &__images {

             &--item {
                 width: 200px;
                 height: 280px;

             }

         }
     }

     .review {
         &__header {
             font-size: 3rem;


         }

         &__text {

             font-size: 2rem;
         }
     }

 }


 //--670--//

 @media (min-width: 670px) {

     .nav {
         &__item {
             &--mobile {
                 font-size: 2.1rem;
             }
         }

         &__link {
             font-size: 2.1rem;
         }
     }

     .hero {
         &__video {
             height: 400px;
         }
     }

     .offers {
         &__video {

             height: 80px;
             top: 265px;
             left: 10px;
         }

     }

     .rules {


         &__header {

             font-size: 5.5rem;

         }

         &__title {

             font-size: 4rem;

         }

         &__item {

             font-size: 2rem;
             letter-spacing: 1px;


         }
     }

     .acordeon {
         width: 600px;

         &-btn {
             width: 600px;
             font-size: 2.2rem;
         }

         &-info {


             &-text {
                 color: $light-white;
                 font-size: 2rem;

             }
         }
     }

     .portfolio {

         &__video {
             width: 170px;
             height: 250px;
         }

         &__images {

             &--item {
                 width: 170px;
                 height: 250px;

             }

         }
     }

     .review {
         &__img {
            opacity: 0;
             display: block;
             z-index: 100;
             position: absolute;
             bottom: -200px;
             left: 5px;
             height: 240px;
             width: 170px;
         }


     }

     .activeReviewImg {
         animation: handleShowReviewImg 2s ease-in-out forwards;
     }

     @keyframes handleShowReviewImg {
         0% {
             opacity: 0;
         }

         100% {
             opacity: 1;
         }

     }
 }