 // @media (min-width: 480px) {
 //     /* Stylizacje dla telefonów o większych ekranach */
 // }
 // @media (min-width: 576px) {
 //     /* Stylizacje dla większych telefonów */
 // }

 @use '../variables' as *;


 @media (min-width: 480px) {}



 @media (min-width: 576px) {

     .header {
         &__heading {
             font-size: 4rem;
         }

         &__text {
             font-size: 2rem;


         }

         &__arrow {
             font-size: 2.5rem;
             left: 50%;
             transform: translate(-50%,-50%);


         }


     }



 }


 //--670--//

 @media (min-width: 670px) {}