@use './variables' as *;


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Dosis", serif;
    font-weight: lighter;
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {
    position: relative;
    background-color: $second-color;
    font-size: 1.6rem;
}